name: Terraform Teardown Dev

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: string
      region:
        required: true
        type: string
      password:
        required: true
        type: string

jobs:
  VerifyPassword:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    outputs:
      verified: ${{ steps.verify-password.outputs.verified }}
    steps:
      - name: "Verify Password (Hint: Madara Uciha)"
        id: verify-password
        run: |
          echo "::add-mask::${{ inputs.password }}"
          if [ "${{ inputs.password }}" = "${{ secrets.password }}" ]; then
            echo "User Verified"
            echo "verified=true" >> $GITHUB_OUTPUT
          else
            echo "âŒ Password require for Infra teardown."
            echo "verified=false" >> $GITHUB_OUTPUT
            exit 1
          fi

  Destroy-Infrastructure:
    needs: VerifyPassword
    if: needs.VerifyPassword.outputs.verified == 'true'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.aws_account_id }}:role/${{ secrets.oidc_role_name }}
          aws-region: ${{ inputs.region }}

      - name: Terraform Init
        working-directory: environments/${{ inputs.environment }}/${{ inputs.region }}
        run: terraform init -input=false
      
      - name: Terraform Destroy
        if: github.ref == 'refs/heads/main'
        working-directory: environments/${{ inputs.environment }}/${{ inputs.region }}
        run: terraform apply -auto-approve -destroy
